@charset "utf-8";

/* 全体の基本設定 */
body {
  background-color: #d3cbc6;
  color: #3b3330;
  font-family: Century Gothic, "Noto Sans JP", system-ui, sans-serif;
  margin: 10;
  padding: 0;
  line-height: 1.7;
}

/* コンテンツの幅を整える */
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
}

/* 見出し */
h1 {
  font-size: 2.2rem;
  margin-bottom: 0.5em;
  font-weight: bold;
  border:#5a504c solid 1px;
}

h2 {
  font-size: 1.4rem;
  margin-top: 2em;
  border-left: 4px solid #451922;
  padding-left: 12px;
}

/* 小さめテキスト */
p {
  font-size: 1rem;
}

/* 全ページのリンク色（未訪問） */
body a {
  color: #5a504c;
  text-decoration: none;
}

body a:hover {
  color: #3b3330;
  text-decoration: underline;
}

body a:active {
  color: #2a2422;
}

body a:visited {
  color: #5a504c;
}

