body {
  font-family: arial unicode ms,sans-serif;
  padding: 40px;
}

h1 {
  margin-bottom: 20px;
}

label {
  display: #d3cbc6;
  margin-bottom: 10px;
}

#total-price {
  font-size: 24px;
  font-weight: bold;
}
